 .player-bar {
     position: fixed;
     bottom: 0;
     left: 0;
     right: 0;
     height: 88px;  /* controls how far 2 horizontal bars come close to quote and bottom page */
     background: rgba(255, 255, 255, 0.3);
     z-index: 100;
 }
 
/* controls the styling of actual quote */
.player-bar .currently-playing .artist-name
/*.player-bar .currently-playing .artist-song-mobile*/ {
     text-align: center;
     font-size: 1.10rem; /* orig .75rem*/
     margin: 0;
     position: absolute;
     width: 100%;
     font-weight: 300; /* orig 300 */
   /* color: rgb(2, 117, 216); */
     font-family: 'Courier New'

     
 }
 


/* double bar line */
 .seek-bar {
     height: 0.25rem;
     background: rgba(101,18,95,0.5);
     border-radius: 2px;
     position: relative;
     cursor: pointer;
     color: rgb(2, 117, 216);
 }

/* These 3 control position of quote...artist name line control position of quote */
 
 .player-bar .currently-playing .artist-song-mobile {
     top: 1.1rem;
 }
 
 .player-bar .currently-playing .artist-name {
     bottom: 1.5rem;
 }
 
 .player-bar .currently-playing .artist-song-mobile {
     display: none;
 }


/*CH 28 for mobile rending player bar*/

@media (max-width: 40rem) {
     .player-bar {
         padding: 1rem;
         background: rgba(0,0,0,0.6);
     }
 
     .player-bar .main-controls,
     .player-bar .currently-playing,
     .player-bar .volume {
         display: block;
         margin: 0 auto;
         padding: 0;
         width: 100%;
         text-align: center;
     }
     
     .player-bar .main-controls,
     .player-bar .volume {
         min-height: 3.5rem;
     }
     
     .player-bar .currently-playing {
         min-height: 2.5rem;
     }
      
     .player-bar .artist-name,
     .player-bar .song-name {
         display: none;
     }
 
     .player-bar .artist-song-mobile {
         display: block;
     }
 }